<div class="container">
	<div class="row">
		<div class="col float-left">
			<h4>Dashboard</h4>
		</div>
		<button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-default float-right"><h4>+</h4></button>
	</div>
	<div *ngIf="workspaces" class="row">
		<div class="col float-left">
			<h5>Currently No Workspaces Available</h5>
		</div>
	</div>
	<div *ngIf="workspaces" class="">
		<ul>
      		<li *ngFor="let workspace of workspaces">{{ workspace }}</li>
    	</ul>
	</div>
</div>
<!-- The Modal -->
<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Create New Workspace</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">

           <div class="form-group row">
		    <label for="inputTitle" class="col-sm-2 col-form-label">Title</label>
		    <div class="col-sm-10">
		      <input type="text" [(ngModel)]="newWorkspace.title" class="form-control" id="inputTitle" name = "inputTitle" placeholder="title">
		    </div>
		  </div>
		</div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        <button type="button" (click)="newWorkSpace()" class="btn btn-primary float-right">Submit</button>

      </div>

    </div>
  </div>
</div>